@model IEnumerable<RankTracker.Models.RankEntry>

@{
    ViewData["Title"] = "Index";
}

<h1>Rank Entry Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rank</th>
            <th>Date</th>
            <th>Description</th>
            <th>User Name</th>
            <th>Game Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>@item.Id</td>
                <td>@item.Rank</td>
                <td>@item.Date</td>
                <td>@item.Description</td>
                <td>@item.User</td>
                <td>@item.Game.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
